{% load i18n %}
{% block title %}
    {% trans "Points Table" %}
{% endblock %}
<style>
table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}
</style>
{% block content %}

    {% if points %}
        <table>
            <thead>
                <tr>
                    <th>{% trans "Team Name" %}</th>
                    <th>{% trans "Points" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for point in points %}
                    <tr>
                        <td><a 
                            href="{% url 'cricketapp:teaminfo' point.team.id %}">{{ point.team.name|default:"-" }}</a></td>
                        <td>{{ point.points|default:"-" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% trans "no data found" %}</p>
    {% endif %}
{% endblock content %}
